.cart {
    padding: 1rem;
    margin-top: 8rem;
    width: 60%;
    margin: 0 auto;

    .container {
        display: flex;
        flex-direction: column;

        .product {
            display: flex;
            border-top: 1px dotted;
            border-left: 1px dotted;
            border-right: 1px dotted;
            padding: .3rem .5rem;
            align-items: center;
            justify-content: space-between;            
        }

        .total, .cta {
            display: flex;
            justify-content: space-between;
            padding: .3rem .5rem;
            border: 2px solid seagreen;
        }   
        
        .cta {
            border: none;
        }

        h3 {
            color: #007185;
            font-weight: 700;
            font-size: 1em;
            line-height: 20px;
            margin: .3rem;
            flex: 1;
        }

        p {
            font-family: sans-serif;
        }

        h4 {
            color: #090a0a;
            font-weight: 700;
            font-size: 1em;
            line-height: 20px;
            margin: .3rem;
            flex: 1;
        }

        img {
            max-width: 3rem;
            height: auto;
            margin: .875rem;
        }

        button, .back {
            background-color: #3fcb14;
            margin: 2rem;
            width: 13rem;
            font-size: 1.1em;
            border-radius: 25px;
            padding: .5rem;
            border-color: #D5D9D9;
            border-style: solid;
            border-width: 1px;
        }   

        .back {
            background-color: rgb(136, 64, 169);
            color: white;
        }

        .qty, .qtyRmv {
            background-color: #3fcb14;
            margin: 1rem;
            width: 3rem;
            font-size: 1.1em;
            border-radius: 25px;
            padding: .2rem;
        }

        .qtyRmv {
            background-color: red;
            color: white;
        }
    }
}